<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Slownatra</title>
  </head>
  <body>
    <h1>You've just had an encounter with slownatra!</h1>
    <h3>Your visit was slowed by <%= @wait_time %> seconds.</h3>
  </body>
</html>

